<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.nsu.ccfit.zuev.osuplus"
      android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:isGame="true"
        android:allowAudioPlaybackCapture="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:name="ru.nsu.ccfit.zuev.audio.serviceAudio.SaveServiceObject"
        tools:ignore="UnusedAttribute">
        <service android:name="ru.nsu.ccfit.zuev.audio.serviceAudio.SongService"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notify_inso"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>

        <service
            android:name="ru.nsu.ccfit.zuev.push.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name="com.edlplan.ui.ImportReplayActivity"
            android:label="@string/act_import_replay">

            <!-- firefox and file explorer -->
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:mimeType="application/zip"
                    android:scheme="file" />
                <data
                    android:mimeType="application/x-zip-compressed"
                    android:scheme="file" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="file" />
            </intent-filter>

            <!-- qq -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"/>
                <data
                    android:pathPattern=".*\.edr" />
            </intent-filter>

        </activity>

        <activity
            android:name="ru.nsu.ccfit.zuev.osu.PermissionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:label="@string/app_name"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="ru.nsu.ccfit.zuev.osu.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:label="@string/app_name"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:host="*"
                      android:mimeType="application/octet-stream" android:pathPattern=".*\\.osz"/>
                <data android:scheme="file" android:host="*"
                      android:mimeType="application/octet-stream" android:pathPattern=".*\\.zip"/>
                <data android:scheme="file" android:host="*"
                      android:mimeType="application/octet-stream" android:pathPattern=".*\\.odr"/>
            </intent-filter>
            <!-- firefox and file explorer -->
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:mimeType="application/zip"
                    android:scheme="file" />
                <data
                    android:mimeType="application/x-zip-compressed"
                    android:scheme="file" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="file" />
            </intent-filter>

            <!-- qq -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"/>
                <data
                    android:pathPattern=".*\.osz" />
            </intent-filter>
        </activity>

        <activity android:name="com.dgsrz.bancho.ui.TouchEventTestActivity"
            android:theme="@style/Theme.NoBackground"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.dgsrz.bancho.ui.SliderTestActivity"
            android:theme="@style/Theme.NoBackground"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.dgsrz.bancho.ui.StoryBoardTestActivity"
            android:theme="@style/Theme.NoBackground"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.dgsrz.bancho.ui.VideoBackgroundTestActivity"
            android:theme="@style/Theme.NoBackground"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>